PORT=4000
SUPABASE_URL="https://cprkkanqpizamlalyatn.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNwcmtrYW5xcGl6YW1sYWx5YXRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMxMjA2MTAsImV4cCI6MjA4ODY5NjYxMH0.IUN1uXwz4TgfRQkBigMarIxDqDm-fvMm_QKiPs-DSpo"
GEMINI_API_KEY="AIzaSyDT_J62W8E2PVFZnmCFuMEBvLFLulx8HTQ"
